<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" style="color: white">ITSS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li *ngIf="userService.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" [routerLink]="['/home']">Home</a>
            </li>
            <li *ngIf="userService.isAdmin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" [routerLink]="['/coursemanagement']">Course Management</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li *ngIf="userService.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" [routerLink]="['/settings']">Settings</a>
            </li>
            <li *ngIf="!userService.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
            <li *ngIf="!userService.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" [routerLink]="['/register']">Register</a>
            </li>
            <li *ngIf="userService.isLoggedIn()" class="nav-item">
                <a class="nav-link" href="#" (click)="onLogoutClick()">Logout</a>
            </li>
        </ul>
    </div>
</nav>