<h2 class="page-header">Reset Password</h2>
<form (submit)="onResetSubmit()">
  <div class="form-group">
    <label>Please enter your email address</label>
    <input type="email" class="form-control" [(ngModel)]="email" name="email">
  </div>
  <input type="submit" class="btn btn-primary" value="submit">
</form>