<h2 class="page-header">Account Register</h2>
<form (submit)="onRegisterSubmit()">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" [(ngModel)]="username" name="username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" [(ngModel)]="password" name="password">
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword">
  </div>
  <input type="submit" class="btn btn-primary" value="register">
</form>