<div *ngIf="!m_sUsername">
    ...Loading
</div>

<div *ngIf="m_sUsername">
    <h1>Welcome {{m_sUsername}}</h1>

    <div *ngIf="!m_isAdmin">
        <div *ngIf="!m_uUserProgress">
            ... Loading
        </div>

        <div *ngIf="m_uUserProgress">
            <div *ngIf="!m_acCourseData">
                ... Loading
            </div>

            <div *ngIf="m_acCourseData">
                <hr>
                <h2>Taken courses</h2>
                <div *ngFor="let course of m_uUserProgress.m_apProgresses">
                    <img src="http://localhost:3000/modules/images/{{course.m_sCourseUrl}}.png" alt="{{course.m_sCourseName}}"
                        width="50px" height="50px" (click)="OpenTakenCourse(course)" style="cursor: pointer">
                    <span>Reading: {{GetModuleName(course)}}</span>
                </div>

                <hr>
                <h2>All courses</h2>
                <span *ngFor="let course of m_acCourseData">
                    <img src="http://localhost:3000/modules/images/{{course.m_sCourseUrl}}.png" alt="{{course.m_sCourseName}}"
                        width="200px" height="200px" (click)="OpenCourse(course)" style="cursor: pointer">
                </span>
            </div>
        </div>
    </div>

    <div *ngIf="m_isAdmin">
        Admin right :3
    </div>
</div>