<div *ngIf="!m_sUsername">
  ...Loading
</div>

<div *ngIf="m_sUsername">
  <h1>Account: {{m_sUsername}}</h1>

  <button class="button button1" [routerLink]="['/changepassword']">Change password</button>
  <br>
  <button class="button button2" [routerLink]="['/resetcourses']">Reset courses</button>
</div>