<h2 class="page-header">Account Register</h2>
<form (submit)="OnRegisterSubmit()">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" [(ngModel)]="m_uUser.m_sUsername" name="username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" [(ngModel)]="m_uUser.m_sPassword" name="password">
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" class="form-control" [(ngModel)]="m_sConfirmPassword" name="confirmPassword">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" [(ngModel)]="m_uUser.m_sEmail" name="email">
  </div>
  <input type="submit" class="btn btn-primary" value="register">
</form>