<div class="editor-container">
  <div class="row">
    <div class="column">
      <div id="code-editor"></div>
      <button onclick="run()">Run</button>
    </div>
    <div class="column">
      <iframe id="output"></iframe>
    </div>
  </div>
</div>