<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" style="color: white">ITSS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="userService.IsLoggedIn()" >
        <a routerLink="/home" class="nav-link">Home</a>
      </li>
      <li *ngIf="userService.IsAdmin()" routerLink="/coursemanagement">
        <a class="nav-link">Course Management</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li *ngIf="userService.IsLoggedIn()" routerLink="/settings" >
        <a class="nav-link">Settings</a>
      </li>
      <li *ngIf="!userService.IsLoggedIn()" routerLink="/login">
        <a class="nav-link">Login</a>
      </li>
      <li *ngIf="!userService.IsLoggedIn()" routerLink="/register">
        <a class="nav-link">Register</a>
      </li>
      <li *ngIf="userService.IsLoggedIn()"  class="nav-item">
        <a class="nav-link" href="#" (click)="OnLogoutClick()">Logout</a>
      </li>
    </ul>
  </div>
</nav>