<h2 class="page-header">Change Password</h2>
<form (submit)="OnChangeSubmit()">
  <div class="form-group">
    <label>Current Password</label>
    <input type="password" class="form-control" [(ngModel)]="sOldPassword" name="oldPassword">
  </div>
  <div class="form-group">
    <label>New Password</label>
    <input type="password" class="form-control" [(ngModel)]="sNewPassword" name="newPassword">
  </div>
  <div class="form-group">
    <label>Confirm New Password</label>
    <input type="password" class="form-control" [(ngModel)]="sConfirmPassword" name="confirmPassword">
  </div>
  <input type="submit" class="btn btn-primary" value="Submit">
</form>