<div *ngIf="!userProgress">
  ...Loading
</div>

<div *ngIf="userProgress">
  <div *ngIf="!currentCourse">
    ... Loading
  </div>

  <div *ngIf="currentModuleIndex != -1">
    <!-- Collapsed sidebar -->
    <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none; width: 25%; height: 80%" id="mySidebar">
      <button (click)="closeSidebar()" class="w3-bar-item w3-large">Close &times;</button>

      <!-- Course modules -->
      <div *ngFor="let module of currentCourse.modules; let i = index">
        <a *ngIf="maxModuleIndex >= i" class="w3-bar-item w3-button w3-green" (click)="getModule(i)">{{module.name}}</a>
        <a *ngIf="!(maxModuleIndex >= i)" disabled class="w3-bar-item w3-button w3-grey">{{module.name}}</a>
      </div>

    </div>

    <!-- Page Content -->
    <div class="">
      <div class="w3-clear nextprev">
        <a *ngIf="currentModuleIndex > 0" class="w3-left w3-btn" (click)="openPrevModule()">&#x276E; Previous</a>
        <a *ngIf="currentCourse.modules.length - 1 > currentModuleIndex" class="w3-right w3-btn" (click)="openNextModule()">Next &#x276F;</a>
      </div>
      <button class="w3-button w3-grey w3-xlarge" (click)="openSidebar()">☰</button><!-- Navigation button -->
      <div class="w3-container" innerHTML={{content}}>

      </div>

      <!-- Navigation button -->
      <div class="w3-clear nextprev">
        <a *ngIf="currentModuleIndex > 0" class="w3-left w3-btn" (click)="openPrevModule()">&#x276E; Previous</a>
        <a *ngIf="currentCourse.modules.length - 1 > currentModuleIndex" class="w3-right w3-btn" (click)="openNextModule()">Next &#x276F;</a>
      </div>
    </div>
  </div>
</div>