<div *ngIf="!username">
  ...Loading
</div>

<div *ngIf="username">
  <h1>Account: {{username}}</h1>

  <button class="button button1" [routerLink]="['/changepassword']">Change password</button>
  <br>
  <button class="button button2" [routerLink]="['/resetcourses']">Reset courses</button>
</div>