<div *ngIf="!username">
    ...Loading
</div>

<div *ngIf="username">
    <h1>Welcome {{username}}</h1>

    <div *ngIf="!isAdmin">
        <div *ngIf="!userProgress">
            ... Loading
        </div>

        <div *ngIf="userProgress">
            <div *ngIf="!courseData">
                ... Loading
            </div>

            <div *ngIf="courseData">
                <hr>
                <h2>Taken courses</h2>
                <div *ngFor="let course of userProgress.progresses">
                    <img src="http://localhost:3000/modules/images/{{course.courseUrl}}.png" alt="{{course.courseName}}"
                        width="50px" height="50px" (click)="openTakenCourse(course)" style="cursor: pointer">
                    <span>Reading: {{getModuleName(course)}}</span>
                </div>

                <hr>
                <h2>All courses</h2>
                <span *ngFor="let course of courseData">
                    <img src="http://localhost:3000/modules/images/{{course.courseUrl}}.png" alt="{{course.courseName}}"
                        width="200px" height="200px" (click)="openCourse(course)" style="cursor: pointer">
                </span>
            </div>
        </div>
    </div>

    <div *ngIf="isAdmin">
        Admin right :3
    </div>
</div>