<h2 class="page-header">Login</h2>
<form (submit)="OnLoginSubmit()">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" [(ngModel)]="m_uUser.m_sUsername" name="username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" [(ngModel)]="m_uUser.m_sPassword" name="password">
  </div>
  <input type="submit" class="btn btn-primary" value="login">
  <a class="nav-link" routerLink="/resetpassword" style="float: right">Forgot password?</a>
</form>