<div *ngIf="!m_uUserProgress">
  ...Loading
</div>

<div *ngIf="m_uUserProgress">
  <div *ngIf="!m_cCurrentCourse">
    ... Loading
  </div>

  <div *ngIf="m_iCurrentModuleIndex != -1">
    <!-- Collapsed sidebar -->
    <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none; width: 25%; height: 80%" id="mySidebar">
      <button (click)="CloseSidebar()" class="w3-bar-item w3-large">Close &times;</button>

      <!-- Course modules -->
      <div *ngFor="let module of m_cCurrentCourse.m_acModules; let i = index">
        <a *ngIf="m_iMaxModuleIndex >= i" class="w3-bar-item w3-button w3-green" (click)="GetModule(i)">{{module.m_sName}}</a>
        <a *ngIf="!(m_iMaxModuleIndex >= i)" disabled class="w3-bar-item w3-button w3-grey">{{module.m_sName}}</a>
      </div>

    </div>

    <!-- Page Content -->
    <div class="">
      <div class="w3-clear nextprev">
        <a *ngIf="m_iCurrentModuleIndex > 0" class="w3-left w3-btn" (click)="OpenPrevModule()">&#x276E; Previous</a>
        <a *ngIf="m_cCurrentCourse.m_acModules.length - 1 > m_iCurrentModuleIndex" class="w3-right w3-btn" (click)="OpenNextModule()">Next &#x276F;</a>
      </div>
      <button class="w3-button w3-grey w3-xlarge" (click)="OpenSidebar()">☰</button><!-- Navigation button -->
      <div class="w3-container" innerHTML={{m_content}}>

      </div>

      <!-- Navigation button -->
      <div class="w3-clear nextprev">
        <a *ngIf="m_iCurrentModuleIndex > 0" class="w3-left w3-btn" (click)="OpenPrevModule()">&#x276E; Previous</a>
        <a *ngIf="m_cCurrentCourse.m_acModules.length - 1 > m_iCurrentModuleIndex" class="w3-right w3-btn" (click)="OpenNextModule()">Next &#x276F;</a>
      </div>
    </div>
  </div>
</div>