<div *ngIf="!m_sUsername">
    <img src="../../../assets/loading-01.gif">
</div>

<div *ngIf="m_sUsername">
    <h1>Welcome {{m_sUsername}}</h1>
    <hr>

    <div *ngIf="!m_isAdmin">
        <h2>Taken courses</h2>
        
        <div *ngIf="!m_uUserProgress">
            <img src="../../../assets/loading-02.gif">
        </div>

        <div *ngIf="m_uUserProgress">
            <div *ngIf="!m_acCourseData">
                <img src="../../../assets/loading-02.gif">
            </div>

            <div *ngIf="m_acCourseData">
                <div *ngFor="let course of m_uUserProgress.m_apProgresses">
                    <img src="http://localhost:3000/modules/images/{{course.m_sCourseUrl}}.png" alt="{{course.m_sCourseName}}"
                        width="50px" height="50px" (click)="OpenTakenCourse(course)" style="cursor: pointer">
                    <span style="margin-left: 20px">Reading: {{GetModuleName(course)}}</span>
                </div>

                <hr>
                <h2>All courses</h2>

                <div *ngIf="!m_canDisplayAllCourses">
                    <img src="../../../assets/loading-02.gif">
                </div>

                <div *ngIf="m_canDisplayAllCourses">
                    <span *ngFor="let course of m_acCourseData">
                        <img src="http://localhost:3000/modules/images/{{course.m_sCourseUrl}}.png" alt="{{course.m_sCourseName}}"
                            width="200px" height="200px" (click)="OpenCourse(course)" style="cursor: pointer">
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="m_isAdmin">
        Admin right :3
    </div>
</div>