<div class="d-flex justify-content-center h-100 card-background">
  <div class="card">
    <div class="card-header">
      <h3>Sign In</h3>
    </div>
    <div class="card-body">
      <form (submit)="OnLoginSubmit()">
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Username" [(ngModel)]="m_uUser.m_sUsername" name="username">
          
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="m_uUser.m_sPassword" name="password">
        </div>
        <div class="form-group">
          <button id="loginBtn" class="btn float-right login_btn ld-ext-left">
              Login
              <div class="ld ld-ring ld-spin-fast"></div>
          </button>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center links">
        Don't have an account?<a href="#" routerLink="/register">Sign Up</a>
      </div>
      <div class="d-flex justify-content-center">
        <a href="#" routerLink="/resetpassword">Forgot your password?</a>
      </div>
    </div>
  </div>
</div>