<div *ngIf="!userProgress">
  ... Loading
</div>

<div *ngIf="userProgress">
  <div *ngIf="!courseData">
    ... Loading
  </div>

  <div *ngIf="courseData">
    <hr>
    <h2>Taken courses</h2>
    <div *ngFor="let course of userProgress.progresses">
      <img src="http://localhost:3000/modules/images/{{course.courseUrl}}.png" alt="{{course.courseName}}" width="50px"
        height="50px" (click)="openTakenCourse(course)" style="cursor: pointer">
      <span>Reading: {{getModuleName(course)}}</span>
      <a class="w3-right w3-btn w3-green" (click)="openModal(course)">Reset</a>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span (click)="closeModal()" class="close">&times;</span>
        <h1>Reset this course?</h1>
        <button class="button button3" style="width: 20%" (click)="resetTakenCourse()">Reset</button>
        <button class="button button1" style="width: 20%" (click)="closeModal()">Cancel</button>
      </div>

    </div>
  </div>
</div>