.editor-container {
    position: absolute;
    left: 20px;
    right: 20px;
    box-sizing: border-box;
    height: 800px;
}

#output, #code-editor {
    width: 100%;
    height: 100%;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 100%;
}

.row {
    height: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row2 {
    height: 50%;
}

.row2:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}