<button class="button button1" data-toggle="tooltip" title="Change orientation" (click)="ChangeEditorOrientation()"><i class="fas fa-sync-alt"></i></button>
<button class="button button1" data-toggle="tooltip" title="Change theme" (click)="ChangeEditorTheme()"><i class="fas fa-palette"></i></button>
<button class="button button1" data-toggle="tooltip" title="Execute" onclick="run()"><i class="fas fa-play"></i></button>

<div class="editor-container">
  <div class="row" id="row">
    <div class="column" id="col1">
      <div id="code-editor"></div>
    </div>
    <div class="column" id="col2">
      <iframe id="output"></iframe>
    </div>
  </div>
</div>