<div *ngIf="!m_uUserProgress">
  ... Loading
</div>

<div *ngIf="m_uUserProgress">
  <div *ngIf="!m_acCourseData">
    ... Loading
  </div>

  <div *ngIf="m_acCourseData">
    <hr>
    <h2>Taken courses</h2>
    <div *ngFor="let course of m_uUserProgress.m_apProgresses">
      <img src="http://localhost:3000/modules/images/{{course.m_sCourseUrl}}.png" alt="{{course.m_sCourseName}}" width="50px"
        height="50px" (click)="OpenTakenCourse(course)" style="cursor: pointer">
      <span>Reading: {{GetModuleName(course)}}</span>
      <a class="w3-right w3-btn w3-green" (click)="OpenModal(course)">Reset</a>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span (click)="CloseModal()" class="close">&times;</span>
        <h1>Reset this course?</h1>
        <button class="button button3" style="width: 20%" (click)="ResetTakenCourse()">Reset</button>
        <button class="button button1" style="width: 20%" (click)="CloseModal()">Cancel</button>
      </div>

    </div>
  </div>
</div>