.editor-container {
    position: absolute;
    left: 20px;
    right: 20px;
    box-sizing: border-box;
    height: 800px;
}

#output, #code-editor {
    width: 100%;
    height: 100%;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 100%;
}

.row {
    height: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}