hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid black;
    margin: 1em 0;
    padding: 0;
    animation: hr-anim 1s;
}

@keyframes hr-anim {
    from { width: 0px; }
    to { width: 100%; }
}