<h2>Taken courses</h2>

<div *ngIf="!m_uUserProgress">
  <img src="../../../assets//loading-02.gif">
</div>

<div *ngIf="m_uUserProgress">
  <div *ngIf="!m_acCourseData">
    <img src="../../../assets//loading-02.gif">
  </div>

  <div *ngIf="m_acCourseData">
    <div *ngFor="let course of m_uUserProgress.m_apProgresses">
      <img src="http://localhost:3000/modules/images/{{course.m_sCourseUrl}}.png" alt="{{course.m_sCourseName}}" width="50px"
        height="50px" (click)="OpenTakenCourse(course)" style="cursor: pointer">
      <span style="margin-left: 20px;">Reading: {{GetModuleName(course)}}</span>
      <a class="w3-right w3-btn w3-green" (click)="OpenModal(course)" data-toggle="modal" data-target="#exampleModalCenter">Reset</a>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirm reset</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to reset this course?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="ResetTakenCourse()">Reset</button>
      </div>
    </div>
  </div>
</div>