<div class="d-flex justify-content-center h-100 card-background">
    <div class="card">
      <div class="card-header">
        <h3>Reset Password</h3>
      </div>
      <div class="card-body">
        <form (submit)="OnResetSubmit()">
  
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            <input type="email" class="form-control" placeholder="Enter your email" [(ngModel)]="m_sEmail" name="email">
          </div>
  
          <div class="form-group">
            <button id="resetBtn" class="btn float-right login_btn ld-ext-left">
                Reset
                <div class="ld ld-ring ld-spin-fast"></div>
            </button>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
            Don't have an account?<a href="#" routerLink="/register">Sign up</a>
        </div>
      </div>
    </div>
  </div>